{% comment %} {% load static %}
<div class="container-fluid  ">
  <div id="ab">
    <div class="row about_us pt-5 gy-5">
        <div class="col-11 col-md-5 col-lg-5 ms-md-5" data-aos="flip-left" data-aos-duration="3000">
            <h4>ABOUT US</h4>
            <h3>Simple Way of Eating <br> Delicious Food</h3>
            <p>Keep healthy food readily available.When <br> you get hungry, You're more likely to eat <br> first thing you see on the counter</p>
        </div>
        <div class="col-11 col-md-5 col-lg-5 ab-imgs mt-md-5"  data-aos="flip-right" data-aos-duration="3000">
            <img src="{% static '' %}imgs/f2.jpg" alt="" class="rounded-circle w-75">
        </div>
    </div>
</div> {% endcomment %}