
{% load static %}
<div class="container-fluid">
    <div class="row hero-head ps-md-5" >
      <div class="col-10 col-md-5 col-lg-5" data-aos="fade-up" data-aos-duration="1000">
          <h5>More Than Faster</h5>
          <h2>Delicious Food for your <span>Health</span></h2>
          <h4>Our job is to filling your tummy with delicious foood and with fast and free delivery</h4>
          <div class="p22"> 
            <p class="pi">Get Started</p><p class="p1">Learn More</span></p>
      </div>
      </div>
      <div class="col-10 col-md-5 col-lg-5 ms-5" data-aos="fade-down" data-aos-duration="1000">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
         <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="{% static '' %}imgs/b2.jpg" alt="" class="rounded-pill w-100">
          </div>
        <div class="carousel-item " data-bs-interval="1500">
          <img src="{% static '' %}imgs/b3.jpg" alt="" class="rounded-pill w-100">
      </div>
        <div class="carousel-item" data-bs-interval="1500">
          <img src="{% static '' %}imgs/b4.jpg" alt="" class="rounded-pill w-100">
      </div>
    </div>
    </div>
    </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  