</div>
<div class="container-fluid">
    <div class="row foots pt-5">
        <div class="col-5 col-md-6 col-lg-3 ps-sm-5">
            <span class="navbar-brand "><span style="color: darkblue;">Joshy</span><span style="color:orangered ;">Fudz</span></a></span>
            <p>Ready to get started</p>
            <p><span>Contact Us</span><br> <span>Learn More</span></p>
        </div>
        <div class="col-5 col-md-6 col-lg-3 ps-sm-5">
            <h3>DAILY MENU</h3>
            <ul>
                <li>breakfast</li>
                <li>lunch</li>
                <li>dinner</li>
                <li>dessert</li>
            </ul>
        </div>
        <div class="col-5 col-md-6 col-lg-3">
            <h3>OUR COMPANY</h3>
            <ul>
                <li>About</li>
                <li>bllog</li>
                <li>shop</li>
                <li>contact us</li>
            </ul>
        </div>
        <div class="col-5 col-md-6 col-lg-3">
            <h3>OPENING TIME</h3>
            <ul>
                <li>sunday:9am-9pm</li>
                <li>lunch</li>
                <li>dinner</li>
                <li>dessert</li>
            </ul>
        </div>
        <div class="row awes">
            <div class="col-4 col-md-4" >
              <p><i class="fa-brands fa-whatsapp"></i></p>
            </div>
            <div class="col-4 col-md-4" >
              <p><i class="fa-brands fa-github"></i></p>
            </div>
            <div class="col-4 col-md-4" >
              <p><i class="fa-brands fa-discord"></i></p>
            </div>
        </div>
    </div>
</div>