{% load static %}
<h5 class="menu">OUR MENU</h5>
<P class="menu_p">Menu That Always <br> Make You Fall In Love</P>
<div class="list_head  d-none d-lg-block ">
    <ul>
        <li><a href=" ">breakfast</a></li>
        <li><a href="">lunch</a></li>
        <li><a href="">dinner</a></li>
        <li><a href="">Dessert</a></li>
    </ul>
</div>

<div class="container-fluid">
  <div class="row ms-md-5  ps-md-4 mb-5">
    <div class="col-11 col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static '' %}imgs/b1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link btn-primary btn">Card link</a>
                <a href="#" class="card-link btn-primary btn">Another link</a>
            </div>
        </div>
     </div>
    <div class="col-11 col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static '' %}imgs/b2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link btn-primary btn">Card link</a>
                <a href="#" class="card-link btn-primary btn">Another link</a>
            </div>
        </div>
     </div>
    <div class="col-11 col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/imgs/b3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link btn-primary btn">Card link</a>
                <a href="#" class="card-link btn-primary btn">Another link</a>
            </div>
        </div>
     </div>
  </div>
</div>