
{% load static %}
<div class="container-fluid">
    <div class="row ms-md-5 ps-5">
      <div class="col-11 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="{% static '' %}imgs/l1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link btn-primary btn">Card link</a>
                  <a href="#" class="card-link btn-primary btn">Another link</a>
              </div>
          </div>
      </div>
      <div class="col-11 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="{% static '' %}imgs/l4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link btn-primary btn">Card link</a>
                  <a href="#" class="card-link btn-primary btn">Another link</a>  
              </div>
          </div>
      </div>
      <div class="col-11 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="{% static '' %}imgs/f3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link btn-primary btn">Card link</a>
                  <a href="#" class="card-link btn-primary btn">Another link</a>
              </div>
          </div>
      </div>
    </div>
  </div>