<div class="container ">
    <div class="row team_member mt-5 pt-5" data-aos="zoom-in-up" data-aos-duration="3000">
        <div class="col-11 col-md-5 col-lg-6 mt-5">
            <h5>WHO ARE WE</h5>
            <h3>Best services to fulfill <br> your expectation</h3>
            <p>Keep Healthy food readily available whenever your're hungry, <br>
                you're more likelyto eat the first thing you see on the
                counter <br> or in the cupboard.</p>
        </div>
        <div class="col-11 col-md-5 col-lg-6 mt-md-5">
            <div class="row nomba gy-5 gx-5 gy-5">
                <div class="col-6">
                    <h1>42K <span style="color:orangered; font-weight:900;">+</span> </h1>
                    <p>Satisfied Customer</p>
                </div>
                <div class="col-6">
                    <h1>65K<span style="color:orangered; font-weight:900;">+</span></h1>
                    <p>Food Delivered</p>
                </div>
                <div class="col-6">
                    <h1>860k<span style="color:orangered; font-weight:900;">+</span></h1>
                    <p>Satisfied Customer</p>
                </div>
                <div class="col-6">
                    <h1>980k<span style="color:orangered; font-weight:900;">+</span></h1>
                    <p>Experienced Driver</p>
                </div>
            </div>
        </div>
    </div>
</div>
            


