{% extends 'base.html' %}
{% block header %}{% include 'header.html' %}{% endblock header %}
{% block content %}

  <div class="col-11 justify-content-around w-50 ">
    <form action="{% url 'profile_update' %}" method='POST'>
      {% csrf_token %}
      <div class="mb-1">
        <label for="text" class="">First Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="first_name" placeholder="first name">
      </div>
      <div class="mb-1">
        <label for="text" class="">UserName</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="username" placeholder="first name">
      </div>
      <div class="mb-1">
        <label for="text" class="">last Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="last_name" placeholder="first name">
      </div>
      <div class="mb-1">
        <label for="text" class="">Address</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="address" placeholder="first name">
      </div>
      <div class="mb-1">
        <label for="text" class="">Telephone</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="telephone" placeholder="first name">
      </div>
     <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">E-mail</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
     </div>
        <button type="submit" class="btn btn-primary">SAVE</button>
        </form>
    </div>
{% endblock content %}
{% block footer %}{% include 'footer.html' %}{% endblock footer %}
